<br>
<h2>Title: <%= @game.title %></h2>
<p>Genre: <%= @game.genre %></p>
<br>
<br>
<h2>Game Rating: <%= @game.rating %>/100</h2>
<p><a href="/games/<%= @game.id %>/edit">Edit</a></p>
<br>
<br>
<form method="POST" action="/games/<%= @game.id %>">
<input type="hidden"  name="_method" value="delete" />
<input type="submit" value="Delete" />
</form>